/* Styles for the Demo Wrapper */
html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
h2{
  color: white;
  font-size: 3rem;
  text-align: center;
  text-shadow: .1em .1em .2em rgba(215, 215, 0, 1);

}
body {
  background-image: url('../images/backgroundnoel.jpg');
  margin: 0;
  background-color: #e6e9ed;
  font-family: "Lato", sans-serif;
}

.demo-content {
  max-width: 534px;
  /* margin-top: 50px; */
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
}

/* Styles for the Advent Calendar */
div#adventDoors {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}
#adventDoors div {
	position: absolute;
}
#adventDoors div a {
  color: #fff;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(255,255,255,0.15);
	width: 100%;
	height: 100%;
	font-size: 24px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
  border: 1px #fff solid;
  -webkit-transform-style: preserve-3d;
    -webkit-perspective: 550px;
    -webkit-transform-origin: 0 50%;
    -webkit-transition: all 1s;
    -moz-transform-style: preserve-3d;
    -moz-perspective: 550px;
    -moz-transform-origin: 0 50%;
    -moz-transition: all 1s;
    -o-transform-style: preserve-3d;
    -o-perspective: 550px;
    -o-transform-origin: 0 50%;
    -o-transition: all 1s;
    transform-style: preserve-3d;
    perspective: 550px;
    transform-origin: 0 50%;
    transition: all 1s;
}
#adventDoors div a:not(.disabled):focus {
  color: #fff;
 	background-color: rgb(243, 8, 8);
  -webkit-transform: scale(0.05,1) skew(0deg,20deg); /*use scale to change how wide it opens*/
    -moz-transform: scale(0.05,1) skew(0deg,20deg);
    -o-transform: scale(0.05,1) skew(0deg,20deg);
    transform: scale(0.05,1) skew(0deg,20deg);
}
#adventDoors div a.disabled {
  border-radius: 0px 10px 10px 0px;
  border: 1px dashed #000000;
	/* border-color: #b6fe98; */
	/* background-color: rgba(196,254,171,0.25); */
	color: #ffffff;
	cursor: default;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


